
.card {
  position: relative;
  overflow:hidden;
  height: 100%;
  transform: scale(1);
  animation: pop-card .3s ease-in-out forwards;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }

  &:hover::after {
    opacity: 0.25;
  }

  @for $i from 1 through 50 {
    &--reveal#{$i} {
      animation-delay: 70ms * $i;
    }
  }

  &-title{
    font-size: 1.3rem;
    margin: 0;
  }

  &-text{
    height:135px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-subtitle{
    font-size: 1.3rem!important;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    margin:0;
  }

  &-img-top {
    object-fit: cover;
  }

  ul {
    list-style: none;
    padding:0;
  }

  &-img-top {
    height:178px;
    background-color: #C7BEBE;
  }

  &-body{    
    padding:30px;
    padding-top:10px;
    overflow: hidden;
  }

  font-size: 0.8rem;
}

@keyframes pop-card {
  0% {
    transform: scale(0.99);
  }

  50% {
    transform: scale(1.01);
  }

  100% {    
    transform: scale(1);
  }
}