$primary: #901C1C;
$primary-lighten: #D3573C;
$primary-lighten2: #DB8876;

$secondary: #525252;
$secondary-light: #FAFAFA;

$darkgrey: #312E2E;
$grey: #757575;

$bg-overflay: rgba(196, 196, 196, 0.4);