<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos petits plats</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <% for (var chunk in htmlWebpackPlugin.files.js) { %>
    <link href="<%= htmlWebpackPlugin.files.css[chunk]%>" rel="stylesheet" type="text/css" />
  <% } %>
</head>

<body>
  <header class="container-fluid p-5 pb-3">
    <div id="logo">    
      <svg width="50" height="46">
        <use xlink:href="<%= require('./assets/logo.svg') %>#logo"/>
      </svg>
      <h1 class="fw-bold text-primary">Les petits plats</h1>
    </div>
    <div id="search" class="py-3">
      <input type="text" class="form-control form-input bg-light px-4 py-3 border-0" name="search" value="" placeholder="Rechercher un ingrédient, appareil, ustensiles ou une recette" />
      <svg class="search-icon" width="33" height="33">
        <use xlink:href="<%= require('./assets/search.svg') %>#search"/>
      </svg>
    </div>

    <div id="tags" data-wrapper="tags"></div>

    <div id="filters" class="py-2 container-fluid" >      
      <div class="row flex-nowrap align-items-start w-100" data-wrapper="filters"></div>       
    </div>
  </header>
  <main id="receipts" class="container-fluid px-4" data-wrapper="receipts">
    
  </main>
  <% for (var chunk in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
  <% } %>
</body>

</html>