@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$font-family-base: 'Lato';
$font-size-base: 1.2rem;

// CUSTOM COLORS BOOTSTRAP

$primary: #D04F4F;
$secondary: #000;
$light: #E7E7E7;
$blue: #3282F7;
$green: #68D9A4;
$red: #ED6454;

$custom-colors: (
  "primary":$primary,
  "secondary": $secondary,
  "light": $light,
  "blue": $blue,
  "green": $green,
  "red": $red
);

$utilities-bg: map-merge(
  $utilities-colors,
  (
    "blue": to-rgb($blue),
    "green": to-rgb($green),
    "red": to-rgb($red)
  )
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");

// CUSTOM COMPONENTS BOOTSTRAP
$card-border-width:0;

@import "~bootstrap/scss/bootstrap";

// SCSS

body {
  color: black;
}

#logo {
  font-family: 'DM sans';
  fill:$primary;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
}

#search {
  position: relative;

  input

  input:focus + .search-icon{
    fill:$primary;
  }

  .search-icon {
    position: absolute;
    top:50%;
    right: 15px;
    transform: translateY(-50%);
    border: 0;
    background: $light;
    cursor: pointer;
  }
}

.card {
  overflow:hidden;
  height: 100%;

  &-title{
    font-size: 1.3rem;
    margin: 0;
  }

  &-text{
    height:135px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-subtitle{
    font-size: 1.3rem!important;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    margin:0;
  }

  ul {
    list-style: none;
    padding:0;
  }

  &-img-top {
    height:178px;
    background-color: #C7BEBE;
  }

  &-body{    
    padding:30px;
    padding-top:10px;
    overflow: hidden;
  }

  font-size: 0.8rem;
}

.tag{
  position: relative;

  &::before {    
    content:"";
    position:absolute;
    height: 20px;
    width: 20px;  
    top:5px;
    right:8px;
    background: url('../assets/close.svg') no-repeat center;  
  }
}

.filter {
  position: relative;  
  flex:0 1 190px;
  transition: flex .3s ease-in-out;
  min-width: 56px;
  max-width: 40%;

  &::before {
    content:"";
    position:absolute;
    height: 50px;
    width: 50px;
    padding:28px;  
    top:0;
    right:0;
    background: url('../assets/arrow.svg') no-repeat center;
    transition: transform .3s ease-in-out;
    cursor: pointer;
  }

  &__input {
    pointer-events: none;
    text-overflow: ellipsis;
    padding-right: 35px!important;

    &::placeholder{
      border: none;
      color:$white;
      font-weight: $font-weight-bold;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__result{
    display: none;
    transition: opacity .15s ease-in-out;
    opacity: 0;

    .no-result {
      opacity: .5;
      font-weight: $font-weight-bold;
    }

    li {
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;     
    }
  }

  &--active {
    flex:1 1 50%;

    .filter__result {
      opacity: 1;
      display: flex;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .filter__input {
      pointer-events: all;

      &::placeholder {
        opacity: .5;
      }
    }

    &::before {
      transform: rotate(180deg);
    }
  }
  &__item {
    cursor: pointer;
  }
}


